html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
      }

      table {
        border: 1px solid black;
        border-collapse: collapse;
        width: 100%;
        height: 100%;
        table-layout: fixed;
      }

      td {
        border: 1px solid black;
        text-align: center;
        vertical-align: middle;
        font-family: Arial, sans-serif;
        font-size: 2vw;
        color: white;
      }

      td:first-child {
        background-color: rgb(54, 226, 27);
        color: black;
      }

      td:last-child {
        background-color: rgb(34, 1, 59);
      }